.*
*.csv
*.txt
*.zip
*.pyc

!.gitignore
!.pre-commit-config.yaml
!pip-requirements.txt

**/output
**/venv
**/__pycache__
**/indicTrans
**/fairseq
**/en-indic
**/indic_nlp_resources
**/indic_nlp_library
